.about {
  margin: 0;
  display: grid;
  grid-template-areas:
    'intro intro intro'
    'high high high'
    'des des des'
    'button button button';
}

a,
span {
  color: var(--highlights);
  text-decoration: none;
}

.about-highlight {
  grid-area: high;
  font-size: clamp(2rem, 10vw, 4rem);
  margin: 0;
}

.about-des,
.about-intro {
  font-size: 20px;
  color: var(--font-sub-color);
}
.about-des {
  grid-area: des;
}
.about-intro {
  grid-area: intro;
}

.about-button.navlink {
  grid-area: button;
  border: 1px var(--highlights) solid;
  border-radius: 3px;
  padding: 8px 22px;
  margin: 0;
  align-self: flex-start;
  justify-self: flex-start;
}
